In [1]:
import os
os.rename("sample.txt","alandml.txt")

In [2]:
os.remove("alandml.txt")

In [3]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [4]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

### tuple:
1. immutable(changes are not allowed)
2. using by() are seperated by ,
3. indexed,ordered.

In [6]:
tup1 = (12,56,561,54,"asd",True)
print(type(tup1))

<class 'tuple'>

In [8]:
print(tup1[2])

561

In [11]:
tup1[2]=100000

TypeError: 'tuple' object does not support item assignment

In [21]:
l

[12, 56, 100, 54, 'asd', True]

### built-in methods:
1. count()
2. index()

In [24]:
tup1

(12, 56, 561, 54, 'asd', True)

In [26]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [27]:
tup2 = (12,232,4,556)

In [29]:
#unpacking
a,b,c,d = tup2
print(d)

556

In [31]:
#packing
x=10,22,11
x

(10, 22, 11)

In [33]:
#tuple with single element
y =(10,)
print(type(y))

<class 'tuple'>

### set:
1. { }.
2. does not allow duplicate values.
3. not orederd.
4. unindexed.
5. mutable.

In [38]:
set1 = {1,2,34,3,4}
print(set1)

{1, 2, 3, 34, 4}

In [39]:
for ele in set1:
    print(ele)

1
2
3
34
4

### Built-in funtions:
1. len()
2. min()
3. max()
4. set()

In [42]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 3, 34, 4}
5
1
34

 ### built-in methods:
 #### adding an element
 1. add()
 #### removing an element
 2. pop()
 3. remove()
 4. discard()
 5. clear()

In [45]:
set2 = set()

print(type(set2))

<class 'set'>

In [47]:
# adding an element
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [48]:
set2.pop()

100

In [51]:
set2.remove(12)

In [50]:
set2

{12, 23}

In [53]:
set2.discard(12)
set2

{23}

In [54]:
set2.clear
set2

{23}

In [58]:
#union,difference,intersection,subset,super set,disjoint
#symmetric difference
A = {1,2,3,4,5,6}
B = {3,4,5,6,8,9}
#union A U B==>{1,2,3,4,5,6,8,9}
print(A.union(B))
#diffe
#A-B==>{1,2}
#B-A==>{8,9}
print(A.difference(B))
print(B.difference(A))
# intersection A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 8, 9}
{1, 2}
{8, 9}
{3, 4, 5, 6}

In [62]:
#subset,super set,disjoint
#symmetric difference
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#true or flase
print(A.issubset(B))
print(C.issuperset(C))
print(C.issuperset(B))

True
False
True
True

In [65]:
#disjoint
X={1,2}
Y={62,5,54}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [67]:
#symmetric difference
print(A.symmetric_difference(B))

{1, 2, 8, 9}

In [68]:
A.update(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 8, 9}
{3, 4, 5, 6, 8, 9}

In [71]:
A.difference_update(B)
print(A)
print(B)

{1, 2}
{3, 4, 5, 6, 8, 9}

# Dictionary:
 ```dictionary name = {key1:value1,key2:value2,.........}```
### rules for key:
1. keys should be unique
2. keys should be immutable(examples:numerics,string,tuple)

In [6]:
#creating a dictionary
dict1 = {"name":"nihith","pin no":221710302043,"address":"hyd"}
print(dict1)

{'name': 'nihith', 'pin no': 221710302043, 'address': 'hyd'}

In [7]:
#Extacting an element
print(dict1["pin no"])

221710302043

In [8]:
#creating a dictionary
dict1 = {"name":"nihith","pin no":221710302043,"address":"hyd"}
print(dict1)

{'name': 'nihith', 'pin no': 221710302043, 'address': 'hyd'}

In [9]:
#removing or deleting an entry
del dict1["address"]
dict1

{'name': 'nihith', 'pin no': 221710302043}

In [10]:
#adding a entry 
dict1["course"] = "python"
print(dict1)

{'name': 'nihith', 'pin no': 221710302043, 'course': 'python'}

### Bulit in methods
1. keys()
2. items()
3. values()
4. get()
5. pop()
6. popitem()

In [11]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'pin no', 'course'])
dict_values(['nihith', 221710302043, 'python'])
dict_items([('name', 'nihith'), ('pin no', 221710302043), ('course', 'python')])

In [12]:
#extracting an element
print(dict1.get("name"))
print(dict1["name"])

nihith
nihith

In [13]:
#adding an entry
dict1["address"] = "hyd"
dict1

{'name': 'nihith',
 'pin no': 221710302043,
 'course': 'python',
 'address': 'hyd'}

In [14]:
d = {1:2,2:2,3:3}
dict1.update(d)
dict1

{'name': 'nihith',
 'pin no': 221710302043,
 'course': 'python',
 'address': 'hyd',
 1: 2,
 2: 2,
 3: 3}

In [15]:
#removing an entry==>pop(),popitem()
dict1.pop("name")
print(dict1)

{'pin no': 221710302043, 'course': 'python', 'address': 'hyd', 1: 2, 2: 2, 3: 3}

In [16]:
print(dict1)

{'pin no': 221710302043, 'course': 'python', 'address': 'hyd', 1: 2, 2: 2, 3: 3}

In [17]:
dict1.popitem()

(3, 3)

In [2]:
def addFunc(item):

                    item += [1]

mylist = [1, 2, 3, 4]

addFunc(mylist)

print (len(mylist))

5

In [3]:
myList = [1, 2, 3, 4, 5]

def func(x):

            x.pop()

            x.pop()

            x.insert(-1, 0)

            print (“Inside func()”,x)

func(myList)

print (“After function call”, myList)

SyntaxError: invalid character in identifier (<ipython-input-3-afaf0568fcdd>, line 11)