In [2]:
pwd

'C:\\Users\\vickk\\Desktop\\AI AND ML'

In [8]:
#floder--> 5 files-->unique-->512bits
import os
import string
import random
#os.mkdir("python class")
for i in range(5):
    file_name="C:\\Users\\vickk\\Desktop\\AI AND ML\\python class\\file%d"%(i)
    f =  open(file_name,"a")
    data = ""
    for i in range(512):
         data = data + random.choice(string.ascii_letters)
    f.write(data)
    f.close()

In [9]:
pwd

'C:\\Users\\vickk\\Desktop\\AI AND ML'

In [14]:
list1 = list(range(1,11))
list2 = []
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10]

In [11]:
range(1,11)

range(1, 11)

In [16]:
list3 = [i for i in list1 if i%2==0]
print(list3)

[2, 4, 6, 8, 10]

In [18]:
#accept string as an input and print all the digits ans count of the digits
#input : "hello 12345"
#output :[1,2,3,4,5],5
string=input("enter a string")
list4 = [ch for ch in string if ch.isdigit()]
print(list4,len(list4))

enter a stringHello 12345
['1', '2', '3', '4', '5'] 5

In [27]:
list5 = list(range(1,11))
list6 = list(range(11,21))
print(list5,list6)
#output[12,14,16.....]
list7=[list5[i]+list6[i] for i in range(len(list5))]
print(list7)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [28]:
#zip()
list7 = [x+y for x,y in zip(list5,list6)]
list7

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

# Anonymous function(lambda funtions)

```lambda arguments : logic```

In [29]:
s = lambda x : x**2
s(11)

121

In [31]:
add = lambda x,y : x+y
add(10,24)

34

# map()

In [32]:
#output:[2,4,6,8,10,12,14,16,18,20]
result=[i*2 for i in list6]
result

[22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [33]:
#map(function_name,iterable object)
result = list(map(lambda i : i*2,list6))
result

[22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [34]:
'10 20 30'.split()

['10', '20', '30']

In [40]:
#unpacking
x,y,z =list(map(int,input().split()))
print(x,y,z)

10 20 30
10 20 30

# fliter()

In [41]:
result=[]
for i in list6:
    if i%5==0:
        result.append(i)
result

[15, 20]

In [42]:
list(filter(lambda x:(x%3==0),list6))

[12, 15, 18]

# reduce()

In [44]:
#Traditional
list1 =[1,2,3,4,5]
#output : 120
m=1
for i in list1:
    m*=i
print(m)

120

In [52]:
jh
''

NameError: name 'jh' is not defined

22